$font-family-primary: 'Open Sans', sans-serif;

$color-primary: white;
$color-primary-fade: darken($color-primary, 1%);

$color-border-primary: #E0E0E0;
$color-border-focus: #13B4E9;

$color-font-header: #404A51;
$color-font-desc: #92979B;

$breakpoint-md: 480px;
$breakpoint-lg: 768px;