.card {
    cursor: pointer;
    background: $color-primary;
    border: 2px solid $color-border-primary;
    border-radius: 6px;
    padding: 24px;
    margin-bottom: 10px;
    @include flex();

    transition: 0.3s ease;

    @include media('md') {
        margin: 20px;
    }

    &__thumbnail {
        @include roundy(50px);
        margin-right: 16px;
        overflow: hidden;

        @include media('md') {
            @include roundy(100px);
        }

        img {
            width: 100%;
            height: auto;
        }
    }
    &__info {
        font-family: $font-family-primary;
        &__name {
            font-size: 1.2em;
            font-weight: 600;
            color: $color-font-header;
            margin-bottom: 5px;
        }
        &__desc {
            font-size: 0.8em;
            font-weight: 400;
            color: $color-font-desc;

            display: block;
            line-height: 1.6;
        }
    }

    &:hover {
        border-color: $color-border-focus;
        box-shadow: 0 6px 14px -6px rgba($color: #000000, $alpha: 0.2);
        transform: translateY(-3px);
    }
}