.main {
    @include media('md') {
        display: grid;
        grid-template-columns: 1fr;
    }

    @include media('lg') {
        grid-template-columns: 1fr 1fr;
    }

    @include media('xl') {
        grid-template-columns: 1fr 1fr 1fr;
    }
}