.page {
    width: 90%;
    margin: auto;
    padding-top: 40px;
    font-family: $font-family-primary;

    @include media('md') {
        
        width: 80%;
    }

    .header {
        margin: 20px;
    }
}